{
    "extends": "stylelint-config-standard",
    "rules": {
        "selector-nested-pattern": "^&",
        "color-hex-case": "lower",
        "color-hex-length": "short"
    },
    "ignoreFiles": ["build/**/*"]
}
